{% extends 'base.html.twig' %}

{% block title %}Velo Blog{% endblock %}

{% block contentClass %}container-fluid no-gutter no-margin-top{% endblock %}

{% block content %}
    {% if tours | length > 0 %}
        <div class="full-width-list tour-list">
            {% for tour in tours %}
                <a class="list-item  background-image background-image-large align-center" href="{{ path('tour_show', {slug: tour.slug}) }}" style="background-image: url({{ vich_uploader_asset(tour, 'imageFile') }}); {% if tour.imageStyle %}{{ tour.imageStyle }}{% endif %}">
                    <div class="overlay"></div>
                    <div class="meta">
                        <h2 class="tour-title title backdrop">{{ tour.title }}</h2>
                        <span class="date backdrop">{{ tour.startDate | date ('d.m.Y') }} - {{ tour.endDate | date ('d.m.Y') }} </span>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <div class="list-item alert alert-danger">
            Keine Touren gefunden.
        </div>
    {% endif %}
{% endblock %}